@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: url(./Background/malaysia-desktop-background_020551783_166.jpg);
  background-size: cover;
}

.container {
	background-color: rgba(0,0,0,.8);
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 380px; 
    height: 380px;
    text-align: center; 
    overflow:auto;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: transparent;
	padding: 20px 40px; 
	color: white;  
	text-align: center;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.col-md-4{ 
    margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-group label {
	display: inline-block;
    margin-bottom: 5px; 
    color: white; 
}
 
.form-group select {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%; 
}
.form-group input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-group input:focus {
	outline: 0;
	border-color: #777;
}


.btn-purple {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	position: relative ; 
	width: 150px; 
	height: 40px; 
	margin: 30px 1px ;  
}
 
a{ 
	font-size: 16px;
	position: relative ; 
	width: 150px; 
	height: 40px; 
	margin: 35px 1px ;  
}

