:root {
  --purple-solid: #350a4f;
  --purple-transparent: rgba(53, 10, 79, .7);
  --purple-transparent-alt: rgba(53, 10, 79, .5);
  --purple-light: #8f50fb;
} 

body {
    background: url(./Background/malaysia-desktop-background_020551783_166.jpg);
    background-size: cover;
  }
  
.container-fluid {
    background-color:  rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 1200px; 
    height: 500px; 
    font-size: 15px;
    text-align: center; 
    overflow:auto; 
    margin-top: 25px;
  } 
     
tr{ 
    color: white;
} 
.navbar{ 
	height: 80px; 
	background-color: var(--purple-transparent-alt); 
} 
 
.navbar-brand { 
	color: white; 
	text-align: inherit;
}