:root {
  --purple-transparent: rgba(53, 10, 79, .7);
} 

body {
    background: url("./Image/malaysia-desktop-background_020551783_166.jpg");
    background-size: cover;
  }
  
.container {
    background-color:  rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 900px; 
    height: 500px; 
    font-size: 15px;
    text-align: center; 
    overflow:auto; 
    margin-top: 25px;
  } 
     
tr{ 
    color: white;
}  
 
.header h1 {
	margin: 0; 
  font-weight: normal; 
  color: white;  
  margin-bottom: 25px; 
  border-bottom: 1px solid #f0f0f0;
} 

.navbar{ 
	height: 80px; 
	background-color: var(--purple-transparent); 
} 
 
.navbar-brand { 
	color: white; 
	text-align: inherit;
} 
 
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer; 
  margin-right: 10px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}