/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --main-font: 'Source Sans Pro', sans-serif; 
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid)); 
    --animation-properties: alternate-gradient 3s alternate infinite; 
    --background-color: linear-gradient(60deg, #5ff281, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f) 0 50%;
    --background-size: 300% 300%;
} 


html{ 
    font-size: 10px;
} 
 
body{ 
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.6rem; 
} 
 
a{ 
    text-decoration: none; 
    color: inherit;
} 
 
ul{ 
    list-style: none;
} 
 
section{ 
    padding: 5rem 0;
}  
   
.container{ 
    width: 100%;  
    max-width: 120rem; 
    padding: 0 1.5rem; 
    margin: 0 auto;
}   
  
/*Button Section*/ 
.btn{ 
    color: #fff; 
    font-size: 1.3rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    padding: .5rem 3.5rem; 
    border: none; 
    border-radius: 10rem; 
    display: inline-flex; 
    align-items: center;
}  
  
.form-btn{ 
    margin-top: 2.5rem; 
    cursor: pointer;
} 
 
.btn-gradient{ 
    background-image: var(--gradient-color); 
    opacity: 0; 
    animation: fadeDown .5s forwards; 
    animation-delay: 1.5s;
} 
 
.btn-gradient:hover{ 
    background-image: var(--gradient-color-alt); 
}  

.btn-purple{  
   position: relative ; 
   width: 150px; 
   height: 40px; 
   margin: 20px 1px ; 
   font-size: small;  
   color: var(--dark-color); 
   background: url(./Image/btn-bg2.png);
   display: inline-flex; 
   justify-content: center; 
   text-decoration: none; 
   transition: 0.5s;
} 
 
.btn-purple:hover{ 
    background: url(./Image/btn-bg1.png);  
}  
 
.btn-purple::before{ 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 0; 
    height: 40px; 
    background-size: cover; 
    transform-origin: left; 
    transition: 0.5s;
} 
 
.btn-purple:hover:before{ 
    width: 100%;
}

.dots{ 
  font-size: 2.5rem;   
  margin-left: .5rem; 
  opacity: .75;
} 

/*Header Section*/ 
.header{ 
    width: 100%; 
    height: 6rem; 
    display: flex;  
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: var(--purple-transparent);
    z-index: 999;
} 
 
.header.active{ 
    background-color: var(--purple-solid);
}  

.nav{ 
    display: flex;  
    align-self: center; 
    justify-content: space-between;
} 
 
.logo img{ 
    max-width: 80%;
}
 
.hamburger-menu{ 
    font-size: 2.6rem; 
    color: #fff; 
    cursor: pointer; 
    position: relative; 
    z-index: 1500; 
} 
 
.hamburger-menu .fa-times{ 
    display: none; 
} 
  
.menu-open .hamburger-menu .fa-times{ 
    display: block;
} 
 
.menu-open .hamburger-menu .fa-bars{ 
    display: none;
}

.nav-list{ 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-color: var(--purple-solid); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    z-index: 1400; 
    opacity: 0; 
    transform: scale(0); 
    transition: opacity .5s;
}  
 
 .menu-open .nav-list{ 
     opacity: 1; 
     transform: scale(1);
 }

 .nav-item:not(:last-child){ 
     margin-bottom: .5rem;
 }
  
.nav-link{ 
   display: block;  
   color: #fff; 
   font-size: 3rem; 
   font-weight: bold; 
   text-transform: uppercase; 
   letter-spacing: 2px; 
   padding: 1rem; 
} 
  
/*Background Section*/ 
.hero{
   width: 100%; 
   height: 100vh;  
   background: url("./Image/malaysia-desktop-background_020551783_166.jpg") center no-repeat; 
   background-size: cover;   
   display: flex; 
   align-items: center; 
   text-align: center; 
   position: relative; 
   z-index: 0;
} 
 
.hero::before{ 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0;  
    width: inherit; 
    height: inherit;
    background-color: var(--purple-transparent-alt); 
    z-index: -1;
} 
 
.main-heading{ 
    color: #fff; 
    line-height: 1; 
    text-shadow: 1px 1px 1rem rgba(0,0,0,.5); 
    margin-bottom: 2.5rem;
} 
 
.title{ 
    font-size: 8.5rem; 
    font-family:'Herr Von Muellerhoff', cursive; 
    color: var(--secondary-font-color); 
    font-weight: 100; 
    line-height: .7; 
    letter-spacing: 2px; 
    opacity: 0; 
    animation: fadeUp .5s forwards;  
    animation-delay: .5s;
}  
 
.subtitle{ 
   color: #fff; 
   font-size: 3.7rem; 
   font-family: var(--main-font); 
   text-transform: uppercase; 
   font-weight: 900; 
   letter-spacing: .5rem; 
   margin-right: -.5rem; 
   animation: scale .5s forwards;    
   line-height: .4;  
}  
  
.separator{ 
    display: flex; 
    align-items: center; 
    justify-content: center;  
} 
 
.line{ 
    width: 100%; 
    max-width: 8.4rem; 
    height: 1.25rem; 
    background-color: white; 
    position: relative;  
    opacity: 0;
    animation: grow 2s forwards; 
    animation-delay: .9s; 
} 
 
.line-right::before,
.line-left::before{ 
    content: ''; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    border: .6rem solid transparent;  
    opacity: 0;
    animation: grow -5s forwards; 
    animation-delay: 1.2s;
} 
 
.line-right::before{ 
    border-right-color: white; 
    right: 0;
} 
 
.line-left::before{ 
    border-right-color: white; 
    left: 0;
}  
 
.asterisk{ 
    font-size: 1.2rem; 
    color: var(--secondary-font-color); 
    margin: 0 1.6rem;  
    opacity: 0;
    animation: spin -5s forwards; 
    animation-delay: .7s;
} 
 
.single-animation{ 
   opacity: 0; 
   animation: fadeDown .5s forwards; 
   animation-delay: 1.5s; 
}
  
h3{  
    color: #fff;  
    font-size: 1.4rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    margin-bottom: 1.2rem; 
    letter-spacing: 3px; 
    margin-right: -3px;  
    text-align: center;
}
   
.booking{ 
    background-image: var(--gradient-color); 
    background-size: auto; 
} 
 
.input-group{ 
    margin-bottom: 1.5rem;
}  

.input, 
.options{ 
    outline: none; 
    border: none; 
    width: 100%; 
    min-height: 4rem; 
    padding: 1rem; 
    font-weight: bold; 
    color: darkgray; 
    letter-spacing: 2px; 
    font-family: "Open Sans", sans-serif; 
    resize: none;
} 
 
/*Heading and Sub-Heading Section*/
.section-head{ 
    text-align: center; 
    margin-bottom: 5rem;
}
 
.heading{ 
    font-size: 8.5rem; 
    font-family: 'Pacifico', cursive;
    color: var(--secondary-font-color); 
    font-weight: 100; 
    line-height: .4; 
    letter-spacing: 2px; 
} 
 
.sub-heading{ 
    color: var(--main-font-color-dark); 
    font-size: 3.7rem; 
    font-family: var(--main-font); 
    text-transform: uppercase; 
    font-weight: 900; 
    letter-spacing: .5rem; 
    margin-right: -.5rem; 
}  
 
::placeholder{ 
    color: inherit;
}
  
/*Hotel Section*/
.grid{ 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
    column-gap: 2.5rem; 
    row-gap: 2.5rem;
} 
 
.grid-item{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
} 
 
.featured-hotels{ 
    height: 35rem; 
    color: #fff; 
    padding: 1rem; 
    position: relative; 
    z-index: 0;
} 
 
.featured-hotels::before{ 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: var(--purple-transparent-alt); 
    z-index: -1;
} 
 
.hotel-image{ 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -2;
} 
 
.hotel-name{ 
    font-size: 2.6rem;
}  

.hotel-rooms{ 
    font-size: 1.6rem; 
    text-align: center; 
    margin: 1rem;
}  

.hotel-price{ 
    font-size: 1.8rem;
} 
 
.hotel-rating{ 
    margin: 1rem 0 2.5rem;
} 
 
.rating{ 
   color: gold; 
} 
 
/*Offer Section*/
.pricing-table{ 
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
    column-gap: 2.5rem; 
    row-gap: 2.5rem;
} 

.table-item{ 
    font-size: 2.5rem; 
    text-transform: uppercase; 
    text-align: center; 
    color: #c2c2c2; 
    padding: 2rem; 
    position: relative; 
    z-index: 1;
} 
 
.table-item::before, 
.table-item::after{ 
    content: ''; 
    position: absolute;
} 
 
.table-item::before{ 
    background-color: #151515; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1;
}
 
.table-item::after{ 
    background: var(--background-color);  
    background-size: var(--background-size);  
    animation: var(--animation-properties);
    top: -3px; 
    left: -3px; 
    width: calc(100% + (3px * 2)); 
    height: calc(100% + (3px * 2)); 
    z-index: -2;
} 
 
.table-item i { 
    font-size: 10rem; 
    margin-bottom: 2rem; 
    padding: 1rem; 
    background: var(--background-color);  
    background-size: var(--background-size); 
    animation: var(--animation-properties);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}  

.subscription-type{  
    letter-spacing: 1px; 
    background: var(--background-color);  
    background-size: var(--background-size); 
    animation: var(--animation-properties);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
} 
 
.features-list{ 
    list-style: none; 
    margin: 1.5rem 0; 
    letter-spacing: 1px;
} 
 
.features-item{ 
    border-top: 1px solid rgba(255,255,255,.1); 
    font-size: 1.3rem; 
    line-height: 1.5; 
    padding: 1.5rem 0;
} 
.features-item:last-child{  
    border-bottom: 1px solid rgba(255,255,255,.1); 
} 
 
.subscription-price{ 
    display: block;
    font-size: 2.5rem;
} 
 
.cta{ 
   display: inline-block;  
   text-decoration: none; 
   color: #c2c2c2; 
   border: 2px solid rgba(255,255,255,.1); 
   border-radius: 2rem; 
   padding: 1rem 3rem; 
   margin-top: 1.5rem;
} 
 
.cta:hover{ 
    background: var(--gradient-color) 0 50%; 
    border: none; 
    color: #fff;
}  
 
/* Luxurious and Affordable Rooms Section*/ 
.rooms{ 
    background-color: #f2f6f9; 
} 
 
.image-wrap{ 
    position: relative; 
    height: 25rem; 
} 
 
.image-wrap::after{ 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: var(--purple-transparent-alt);
} 
 
.room-image{ 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
} 
 
.room-name{ 
    font-size: 2.6rem; 
    background-color: var(--yellow-solid);  
    border-style: outset;
    color: #fff; 
    padding: .5rem 2rem; 
    position: absolute; 
    left: 0; 
    bottom: 2.5rem; 
    z-index: 10;
} 
 
.room-price{ 
    display: block; 
    font-size: 3.6rem; 
    font-weight: bold; 
    color: var(--yellow-solid); 
} 
 
.per-night{ 
    color: var(--dark-color); 
    font-size: 1.4rem; 
    font-weight: 100;
} 
 
.rooms-btn{ 
    color: var(--dark-color); 
    padding: 0; 
    transition: color .5s;
} 
 
.rooms-btn:hover{ 
    color: var(--yellow-solid);
}
/*Contact Section*/  
.contact-content{ 
    display: flex; 
    justify-content: center;
} 
 
.traveler-wrap{ 
    display: none;
} 
 
.contact-form{ 
    width: 100%; 
    background-image: var(--gradient-color); 
    padding: 2.5rem;
} 
 
.contact-form .input{ 
    display: block; 
    background-color: transparent; 
    color: #fff; 
    font-weight: normal; 
    border-bottom: 2px solid #fff; 
    padding-left: 0;
} 
 
.bar{ 
    display: block; 
    position: relative;
} 
 
.bar::after{ 
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 3px; 
    background-color: var(--purple-light); 
    transform: scaleX(0); 
    transform-origin: left; 
    transition: transform .5s;
}
 
.contact-form .input:focus + .bar::after { 
    transform: scaleX(1);
}
/*Footer Section*/ 
 .footer{ 
     padding: 3rem 0; 
     background-color: var(--purple-solid); 
     color: #fff;
 }
  
 .footer-content-brand{ 
     margin-bottom: 5rem;
 } 
  
 .footer.paragraph{ 
     color: inherit;
 } 
 
 .footer-heading{ 
     text-transform: uppercase; 
     margin-bottom: 3rem;    
     text-align: justify; 
 }
 
 .social-media{ 
     display: flex; 
 }
  
 .sm-link{ 
    width: 4rem; 
    height: 4rem;  
    font-size: 2rem;
    border: 2px solid var(--yellow-solid); 
    border-radius: 50%; 
    display: flex; 
    margin-right: 1rem;  
    transition: background-color .5s;
 }

 .sm-link:hover{ 
     background-color: var(--yellow-solid); 
     color: var(--dark-color);
 } 
  
 .sm-link i{ 
     margin: auto;
 }
  
 /*Media Section*/ 
 @media screen and (min-width: 768px){  
     .header{ 
         height: 10rem;
     } 
     .header.active{ 
         height: 6rem;
     } 
     .contact-content{ 
        justify-content: space-between;
     } 
     .traveler-wrap{ 
         display: block; 
         flex: 0 0 45%; 
     } 
     .traveler-wrap img{ 
       width: 100%;  
     } 
     .contact-form{ 
         flex: 0 0 50%; 
         align-self: flex-start;
     } 
     .input-group-wrap{ 
         display: flex;
     } 
     .input-group-wrap .input-group{ 
         width: 50%; 
         margin-right: 2rem;
     } 
     .input-group-wrap .input-group:last-child{ 
         margin-right: 0;
     } 
     /*footer*/ 
     .footer-content{ 
         display: flex; 
     } 
     .footer-content-brand{ 
         margin-bottom: 0; 
         flex: 0 0 60%;
     } 
     .footer .paragraph{ 
         margin-top: 2.5rem;
     } 
     .footer-heading{ 
         margin-bottom: 0 0 40%;
     } 
     .social-media-wrap{ 
         flex: 0 0 40%; 
         margin-left: 2.5rem;
     } 
     .hamburger-menu{ 
        display: none;
     } 
     
    .nav-list{ 
        position: initial;
        width: initial; 
        height: initial; 
        background-color: transparent; 
        flex-direction: row; 
        justify-content: initial; 
        opacity: 1; 
        transform: scale(1);
    } 
    .nav-item:not(:last-child){ 
        margin-right: 3rem; 
        margin-bottom: 0;
    } 
    .nav-link{ 
        font-size: 1.3rem; 
        font-weight: normal; 
        transition: color .5s;
    } 
    .nav-link:hover{ 
        color: var(--yellow-solid);
    } 
    .book-form{ 
        display: flex; 
        justify-content: space-between; 
        column-gap: 2.5rem;   
    } 
    .book-form .input-group{ 
        margin-bottom: 0; 
    } 
    .book-form .input-group:first-child{ 
        flex: 0 0 20%;
    } 
    .input, 
    .options{ 
        min-width: 10rem;
    } 
 }
  
@media screen and (min-width: 1200px){  
    .book-form .input-group:first-child{ 
        flex: 0 0 30%;
    } 
 } 

/*Animation Section*/ 
@keyframes fadeUp { 
    0%{ 
        transform: translateY(4rem);
    } 
    100%{  
        opacity: 1; 
        transform: translateY(0);
    }
} 
 
@keyframes scale { 
    0%{ 
        transform: scale(2);
    } 
    100%{  
        opacity: 1; 
        transform: scale(1);
    }
} 
 
@keyframes grow { 
    0%{ 
        width: 0;
    } 
    100%{  
        opacity: 1; 
        width: 100%;
    }
}  

@keyframes fadeDown { 
    0%{ 
        transform: translateY(-1rem);
    } 
    100%{  
        opacity: 1; 
        transform: translateY(0);
    }
} 
 
@keyframes spin { 
    0%{ 
        transform: rotate(0);
    } 
    100%{  
        opacity: 1; 
        transform: rotate(-360deg);
    }
}  
 

@keyframes alternate-gradient{  
    50%{ 
        background-position: 100% 50%;
    }
}