body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(./Back/malaysia-desktop-background_020551783_166.jpg);
    background-size: cover;
  }
  
.container-fluid {
    background-color:  rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 1200px; 
    height: 500px; 
    font-size: 15px;
    text-align: center; 
    overflow:auto;
  } 
     
tr{ 
    color: white;
}